<!DOCTYPE html>
<html ng-app="directiveApp">
  <head>
    <meta charset="utf-8">
    <title>03 - directives | Angular.cz</title>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div ng-controller="CabinCtrl">
      <h1>Hodnocení horských chat</h1>

      <div ng-repeat="cabin in cabins | orderBy:'altitude'">          
          <cabin />
        </div>
    </div>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>