<!DOCTYPE html>
<html ng-app="FormApp">
  <head>
    <title>04 - Form | Angular.cz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="container" ng-controller="UserCtrl">
    <div class="row">
      <div class="col-md-4">
        <form role="form" name="userForm">
          <fieldset >
            <legend>Edit user</legend>
            <div class="form-group">
              <label for="name" >Your Full Name*: </label>
              <input class="form-control" type="text" name="name" id="name" required/>
            </div>
            <div class="form-group">
              <label for="email" >Email Address*:</label>
              <input class="form-control" type="email" name="email" id="email" required/>
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input class="form-control" type="text" name="phone" id="phone"/>
              <div>
                Use format +420 123 456 789
              </div>
            </div>
            <fieldset >
              <legend>Address</legend>
              <div class="form-group">
                <label for="city" >City*: </label>
                <input class="form-control" type="text" id="city" required />
              </div>
              <div class="form-group">
                <label for="street" >Street: </label>
                <input class="form-control" type="text" id="street"/>
              </div>
              <div class="form-group">
                <label for="postalCode" >Postal code: </label>
                <input class="form-control" type="text" id="postalCode"/>
              </div>
            </fieldset>

            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-warning">Reset</button>
          </fieldset>
        </form> 

      </div>
      <div class="col-md-5 col-md-offset-1">
        <pre>
$scope:
{{user|json}}

storage:
{{userStorage.get() | json}}
        </pre>
      </div>
    </div>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/ngstorage/ngStorage.js"></script>

    <script src="app.js"></script>
  </body>
</html>
