<!DOCTYPE html>
<html ng-app="diApp">
  <head>
    <meta charset="utf-8">
    <title>02 - services and DI | Angular.cz</title>
  </head>
  <body>
    <div ng-controller="CalculatorCtrl">
      <h1>Objednávka tečkovaného poznámkového bloku</h1>
      <h2>Velikost</h2>
      <p>
        <input id="pageSize-a4" type="radio" ng-model="product.pageSize" value="A4" /><label for="pageSize-a4">A4</label>
        <input id="pageSize-a5" type="radio" ng-model="product.pageSize" value="A5" /><label for="pageSize-a5">A5</label>
        <input id="pageSize-a6" type="radio" ng-model="product.pageSize" value="A6" /><label for="pageSize-a6">A6</label>
      </p>

      <h2>Počet stran</h2>
      <p>
        <input type="number" ng-model="product.numberOfPages" />
      </p>

      <h2>Cena</h2>
      <p id="product-price">
        {{getPrice()}} Kč
      </p>

    </div>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>