<div>
    <h2><img ng-src="img\flag_{{cabin.state}}.png" /> {{cabin.name}}</h2>
    
    <ul ng-switch on="cabin.type">   
        <li ng-class="{altitude_high: cabin.altitude > 2000, 
                    altitude_very_high: cabin.altitude > 3000}">
            Výška: {{cabin.altitude}}</li>        
        <li>Cena: {{cabin.price | roundUp | number}}</li>                
        <li ng-switch-when="members">jen pro členy</li>
        <li ng-switch-when="public">veřejná</li>
        <li ng-switch-when="private">soukromá</li>
    </ul>    
    
    <ratings>        
        <rating score="{{cabin.ratings.cabin}}">Chata</rating>                        
        <rating score="{{cabin.ratings.food}}">Jídlo</rating>  
        <rating score="{{cabin.ratings.personal}}">Personál</rating>
        <rating score="{{cabin.ratings.view}}">Výhled</rating>
    </ratings>    
</div>