<li>
    <span ng-transclude></span>:
    <img ng-if="score >= 1" src="img/star.png" />
    <img ng-if="score >= 2" src="img/star.png" />
    <img ng-if="score >= 3" src="img/star.png" />
    <img ng-if="score >= 4" src="img/star.png" />
    <img ng-if="score >= 5" src="img/star.png" />
</li>