<div>
    <h2><img src="img\flag_czech.png" /> Jméno chaty</h2>
    
    <ul>   
        <li class="altitude_high">
            Výška: 1500</li>        
        <li>Cena: 150 Kč</li> 
        
        <li>jen pro členy</li>
        <li>veřejná</li>
        <li>soukromá</li>
    </ul>  
    
    <ul>        
        <li>Chata: 
            <img src="img/star.png" />
            <img src="img/star.png" />
            <img src="img/star.png" />
            <img src="img/star.png" />
            <img src="img/star.png" />
        </li>
    </ul>
    
   
</div>