<!DOCTYPE html>
<html lang="en" ng-app="exercise1">
  <head>
    <meta charset="utf-8">
    <title>01 - Scope and controller | Angular.cz</title>
  </head>
  <body>

    <div ng-controller="userController">
      <input ng-model="user.firstname" /><input ng-model="user.surname" /><br />  
      <b>One way:</b> Uživatel {{::user.firstname}} <span ng-bind="::user.surname"></span><br />
      <b>Two way:</b> Uživatel {{user.firstname}} <span ng-bind="user.surname"></span><br />

      {{getFullName()}}

    </div>

    <script src="../../bower_components/angular/angular.js"></script>
    <script src="script.js"></script>
  </body>
</html>